__pycache__
*.pyc

# setup.py temp stuff
/build
/dist
/debian
/rpmbuild
/cinp.egg-info
MANIFEST
dpkg
dpkg-setup
rpm
rpm-setup
test-setup

# test/lint output/temp stuff
htmlcov
.coverage
.coveragerc
.cache
cinp/django_settings.py
